/* CSS Reset supplied from https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* ***************************************** */
/* ----------------------------------------- */
/* ***************************************** */
/* Box sizing rules */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ***************************************** */
/* ----------------------------------------- */
/* ***************************************** */
html {
    font-size: calc(0.3em + 0.6vw);
}
html body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    width: 100%;
}
#header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#header > a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #000000;
}
#header > button {
    background-color: #007bff;
    color: #ffffff;
    font-size: 1rem;
    width: 80px;
    height: 40px;
    border: none;
    display: inline;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
#header > button:hover {
    background-color: #0069d9;
    border-color: #0069d9;
}
#main-content {
    width: 100%
}

.panel {
    width: 100%;
    min-width: 500px;
}
.sign-up-panel-top {
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("../img/bg-masthead.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-heading {
    margin: 0 0 20px 0;
}
.main-heading {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    max-width: 900px;
    text-align: center;
    margin-bottom: 15px;
}
.signup-controls {
    display: flex;
    flex-wrap: wrap;
}
.form-email-input {
    width: 425px;
    height: 48px;
    border-radius: 5px;
    font-size: 1.25rem;
    padding-left: 15px;
    border: transparent;
    color: #7a7a7a
}
.form-email-input:focus {
    border: 1px solid #007bff;
}
.form-email-input::-moz-placeholder {
    color: #7a7a7a;
    opacity: 1;
}
.form-email-input::-ms-input-placeholder {
    color: #7a7a7a;
    opacity: 1;
}
.form-email-input::-webkit-input-placeholder {
    color: #7a7a7a;
    opacity: 1;
}
.form-signup-confirm {
    background-color: #007bff;
    color: #ffffff;
    font-size: 1.25rem;
    width: 135px;
    height: 48px;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 12px;
}
.form-signup-confirm:hover {
    background-color: #0069d9;
    border-color: #0069d9;
}



.marketing-banner-panel {
    background-color: #f8f9fa;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
.mkt-banner {
    min-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.mkt-banner-item {
    max-width: 450px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.mkt-banner-item-img {
    width: 72px;
    height: 72px;
    margin-bottom: 30px;
}
.mkt-banner-item-img:hover {
    width: 80px;
    height: 80px;
}
.mkt-banner-item-img[src="img/computer_icon.png"] {
    height: 50px;
}
.mkt-banner-item-heading {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.mkt-banner-item-copy {
    color: #7a7a7a;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 350px;
}

.marketing-grid-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}
.mkt-grid-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mkt-copy-item {
    min-width: 50%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.flex-reverse-order {
    order: 2;
}
.mkt-copy-heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 20% 0 20%;
}
.mkt-copy {
    color: #7a7a7a;
    text-align: left;
    font-weight: 300px;
    margin: 0 20% 0 20%;
    font-size: 1.25rem;
}
.mkt-img-item {
    min-width: 50%
}
.mkt-img-item > img {
    min-width: 100%;
}



.client-reviews-panel {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}
.client-review-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
}
.client-review-banner {
    min-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.client-review-item {
    min-height: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.client-review-item-img {
    border-radius: 110px;
    width: 195px;
    height: 195px;
    filter: drop-shadow(5px 5px 5px #b3bac1);
    margin-bottom: 25px;
}
.client-review-item-heading {
    font-size: 1.25rem;
    font-weight: bold;
}
.client-review-item-copy {
    color: #7a7a7a;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}



.sign-up-panel-bottom {
    min-height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("../img/bg-masthead.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-bot-main-heading {    
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    max-width: 650px;
    text-align: center;
}



#footer {
    min-height: 180px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#footer-nav {
    width: 400px;
    height: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
}
.footer-link {
    text-decoration: none;
    font-size: 1rem;
    color: #007bff;
    font-weight: bold;    
}
.footer-link:hover {
    text-decoration: underline;
}
.dot-separator:after {
    content: "\A";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #000000;
    display: inline-block;
    margin: 0px 10px 3px 10px;
}
#copyright {
    color: #7a7a7a;
    font-size: 0.8rem;
}
#social-icons {
    width: 160px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#social-icons > a > img {
    height: 32px;
    width: 32px;
    border-radius: 5px;
}




/* Media Queries */
/**
*
* Smaller screen + Mobile
*
*/
@media screen and (max-width: 1127px) {
    html {
        font-size: calc(1rem + 2vw);
    }
    .main-heading, .signup-bot-main-heading {
        font-size: 2rem;
    }
    #header {
        height: 120px;
        align-items: space-between;
    }
    #header > button {
        width: 150px;
        height: 80px;
    }

    
    .sign-up-panel-top {
        min-height: 900px;
    }


    .mkt-banner {
        min-width: 550px;
        margin: 25% 0 0 0;
        flex-direction: column;
    }
    .mkt-banner-item {
        margin: 0 0 25% 0;
        max-width: 80%;
    }
    .mkt-banner-item-img {
        width: 25%;
        height: 25%;
    }
    .mkt-banner-item-img[src="img/computer_icon.png"] {
        height: 35%;
    }
    .mkt-banner-item-heading, 
    .mkt-banner-item-copy {
        max-width: 80%;
    }
    .mkt-grid-row {
        flex-wrap: wrap-reverse;
    }
    .mkt-copy-item {
        max-width: 90%;
        align-items: left;
    }
    .mkt-copy-heading {
        margin: 20% 0 0 0;
    }
    .mkt-copy {
        margin: 0 0 20% 0;
    }
    .flex-reverse-order {
        order: 0;
    }
    .mkt-img-item, .mkt-img-item > img {
        min-width: 100%;
    }



    .client-review-heading {
        margin: 30% 10% 0 10%;
        text-align: center;
    }
    .client-review-banner {
        min-width: 550px;
        margin: 15% 0 25% 0;
        flex-direction: column;
    }
    .client-review-item {
        margin-bottom: 15%;
        max-width: 80%;
    }
    .client-review-item-img {
        width: 80%;
        height: 80%;
        border-radius: 50%;
    }
    .client-review-item-heading {
        margin: 2% 0 2% 0;
    }



    .sign-up-panel-bottom {
        min-height: 1100px;
    }
    .signup-heading {
        width: 80%;
    }
    .signup-bot-main-heading {
        max-width: 100%;
        margin: 0 0 5% 0;
    }
    .signup-controls {
        flex-direction: column;
        align-items: space-between;
        justify-content: space-around;
        min-height: 100px;
        width: 80%;
    }
    .form-email-input {
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
    }
    .form-signup-confirm {
        margin: 0;
        width: 100%;
        height: 100px;
    }



    #footer {
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        min-height: 700px;
    }
    .left-panel {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 0 8% 0;
    }
    #footer-nav {
        height: 100px;
        width: 550px;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
        width: 100%;
    }
    .dot-separator:after {
        width: 7px;
        height: 7px;
        margin: 0px 20px 7px 20px;
    }
    .copyright {
        font-size: 1em;
    }
    #social-icons {
        width: 40%;
    }
    #social-icons > a > img {
        width: 80px;
        height: 70px;
    }
  }